$mainColor: #000080;
$lightColor: #ffffff;
$mediumColor: #f5f5f5;
$darkColor: #000000;

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Source Sans Pro", serif;
}

%button {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
  font-size: 12pt;
  color: $lightColor;
  cursor: pointer;
}

%card {
  max-width: 500px;
  margin: auto;
  padding: 0 1rem 1rem;
  border-radius: 2px;
  box-shadow: 0 0 8px 0 rgba($darkColor, 0.3);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $lightColor;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $mainColor;
  box-shadow: 0 2px 4px 0 rgba($darkColor, 0.3);

  h1 {
    margin: 1rem 1.5rem;
    grid-column-start: 1;
    font-size: 18pt;
    color: $lightColor;
  }

  p {
    grid-column-start: 2;
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
    color: $lightColor;
  }

  button {
    margin: 0 1.5rem;
    padding-top: 0.1rem;
    justify-self: end;
    grid-column-start: 3;
    background: $mainColor;
    border: none;
    cursor: pointer;

    .material-icons {
      font-size: 30px;
      color: $lightColor;
    }
  }
}

main {
  padding: 1.5rem;

  .grid {
    @extend %card;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.7rem;
    padding-top: 1rem;
    background: $mainColor;

    div {
      position: relative;
    }

    div:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    button {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $mediumColor;
      border: none;
      border-radius: 2px;
      font-size: 50px;
      cursor: pointer;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($darkColor, 0.4);
  visibility: hidden;

  form, div {
    @extend %card;
    position: relative;
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background: $lightColor;

    h1 {
      margin-top: 1.5rem;
      text-align: center;
    }

    label {
      margin-top: 1rem;
      font-weight: bold;
      color: $mainColor;
    }

    input[type = "text"] {
      margin-top: 0.5rem;
      padding: 0.7rem;
      font-size: 12pt;
      border: 1px solid $mainColor;
      border-radius: 2px;
    }

    a, input[type = "button"] {
      @extend %button;
      margin-top: 1rem;
      background: $mainColor;
      border: 1px solid $mainColor;
    }

    button {
      position: absolute;
      margin: 0.8rem;
      top: 0;
      right: 0;
      background: none;
      border: none;
      cursor: pointer;
      visibility: hidden;
    }
  }
}

footer {
  padding: 0.6rem 1.5rem;
  text-align: right;
  background: $mediumColor;
  box-shadow: 0 -2px 4px 0 rgba($darkColor, 0.3);

  button {
    @extend %button;
    border: 2px solid $mainColor;
    background: $mainColor;
    color: $lightColor;
  }
}

@media (max-width: 800px) {
  header {
    grid-template-columns: 1fr auto;

    p {
      padding: 0.5rem 1.5rem;
      grid-column: 1/3;
      order: 1;
      background: $mediumColor;
      color: $darkColor;
    }

    button {
      grid-column-start: 2;
    }
  }
}