body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
}

.card {
    flex: 1;
    max-width: 350px;
    padding: 0 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    background: white;
}

.title {
    margin: 30px 0 10px;
    font-family: arial, serif;
}

.grid {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.field {
    flex: 1;
    margin: 5px;
    height: 100px;
    min-width: 100px;
    border-radius: 5px;
    font-size: 50px;
    background: grey;
    color: white;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.link {
    margin: 15px 10px 25px;
    display: block;
    text-decoration: none;
    font-family: arial, serif;
    background: navy;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}